.menu-navigation {
    height: 40px;

/****************************************/

    border: 1px solid #ababab;
    border-left: none;
    border-right: none;
}

.menu-contents {
    font-family: Arial, "Times New Roman";
    padding: 10px 1px;
    margin-bottom: 0;
}

.menu-contents a {
   text-decoration: none;
   color: #0078d4;
   margin-right: 10px;
}

.menu-contents a:hover {
   color: #005ea6;
}